pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.cpcache/
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
profiles.clj
/log
/env/dev/resources/public/
.idea
ouch-it-hurts.iml
/resources/public/app.js
prod.cljs.edn
