{:main ouch-it-hurts.core
 :optimizations :none
 :pretty-print true
 :source-map true
 :output-to "resources/public/app.js"
 :watch-dirs ["test/cljs" "src/cljs" "src/cljc"]
 :closure-defines {ouch-it-hurts.api/server-path "http://localhost:3000"}
 }
