{
 :server/http {:port {:env "PORT"}}

 :application/assets ["public"]

 :routes/api {:base-url "/api"}

 :db/connection {:dbtype "postgres"
                 :username {:env "DB_USER"}
                 :password {:env "DB_PASSWORD"}
                 :jdbcUrl {:env "JDBC_URL"}
                 :dataSourceProperties {:socketTimeout 30}
                 :maximumPoolSize 30
                 :connectionTestQuery "select 1"}

 :relocatus/migrations {
                        :migration-dir  "migrations"
                        :migration-db {:schema "relocatus" :table "relocatus"}
                        :db {
                             :dbtype "postgresql"
                             :dbname "postgres"
                             :classname "org.postgresql.Driver"
                             :host {:env "DB_HOST"}
                             :port {:env "DB_PORT"}
                             :user {:env "DB_USER"}
                             :password {:env "DB_PASSWORD"}
                             }
                        }
 }

