{
 :server/http {:port {:env "PORT"}}

 :application/assets ["public"]

 :routes/api {:base-url "/api"}

 :db/connection {:dbtype "postgres"
                 :username {:env "DB_USER"}
                 :password {:env "DB_PASSWORD"}
                 :jdbcUrl {:env "JDBC_URL"}
                 :dataSourceProperties {:socketTimeout 30}
                 :maximumPoolSize 30
                 :connectionTestQuery "select 1"}
 }
