.patient-info-table-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}


.patients-info-table-header-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.patients-info-table-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.patients-info-table-grid-deleted-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: grey;
}



.filter-form {
    display: flex;
    flex-wrap: nowrap;
}

.filter-form-block {
    margin-right: 10px;
    width: 50%
}

.filter-form-block-item {
    display: flex;
    margin: 5px;
}

.filter-form-block-item-lable {
    width: 30%;
    display: block;
}

.filter-form-block-item-text-input {
    width: 300px;
    display: block;
}

.filter-form-buttons-block {
    display: flex;
    justify-content: flex-end;
}

.filter-form-button {
    margin: 5px
}


.date-range-block {
    display: flex;
    flex-wrap: nowrap;
}

.date-range-item {
    display: flex;
    margin: 5px;
}

.date-range-lable {
    margin-right: 5px;
}


.error-message {
    color: red;
}


span.spaced:before {
    content: "\00a0 ";
}

#ck-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

#ck-button:hover {
    background: darkgray;
}

#ck-button label {
    float: left;
    width: 4.0em;
}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button label input {
    position: absolute;
    top: -20px;
}

#ck-button input:checked + span {
    background-color: #911;
    color: #fff;
}


#paging-number-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

#paging-number-button label input {
    position: absolute;
    top: -20px;
}

#paging-number-button:hover {
    background: darkgray;
}

#paging-number-button label {
    float: left;
    width: 4.0em;
}

#paging-number-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#paging-number-button label input {
    position: absolute;
    top: -20px;
}

#paging-current-number-button {
    margin: 4px;
    background: darkgray;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: auto;
    float: left;
}

#paging-current-number-button label {
    float: left;
    width: 4.0em;
}

#paging-current-number-button label input {
    position: absolute;
    top: -20px;
}

#paging-current-number-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button input:checked + span {
    background-color: #911;
    color: #fff;
}

.modal-wrapper {
    display: flex;
    direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: white;
    height: max-content;
    width: 75%;

}

.modal-buttom {
    display: block;
}



.filter-form {
    display: flex;
    flex-wrap: nowrap;
}

.filter-form-block {
    margin-right: 10px;
    width: 50%
}

.view-modal-block-item {
    display: flex;
    margin: 5px;
}

.view-modal-block-item-lable {
    width: 30%;
    display: block;
}

.view-modal-block-item-text-input {
    width: 300px;
    display: block;
    border: none;
}


.close-button {
    display: block;
    float: right;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
}
