{
 :server/http {
               :port 3000
               :host "0.0.0.0"
               }
 
 :application/assets ["public"]

 :db/connection {
                 :dbtype "postgres"
                 :username "postgres"
                 :password "12345678"
                 :jdbcUrl "jdbc:postgresql://localhost:5432/postgres"
                 :dataSourceProperties {:socketTimeout 30}
                 :maximumPoolSize 30
                 :connectionTestQuery "select 1"
                 }
 }

