{
 :server/http {
               :port "3000"
               :host "0.0.0.0"
               }

 :application/assets ["public"]

 :db/connection {
                 :dbtype "postgresql"
                 :username "postgres"
                 :password "12345678"
                 :host "localhost"
                 :port "5432"
                 :dbname "postgres"
                 :dataSourceProperties {:socketTimeout 30}
                 :maximumPoolSize 30
                 }

 :relocatus/migrations {
                        :migration-dir  "migrations"
                        :migration-db {:schema "relocatus" :table "relocatus"}
                        :db {
                             :dbtype "postgresql"
                             :dbname "postgres"
                             :classname "org.postgresql.Driver"
                             :host "localhost"
                             :port "5432"
                             :user "postgres"
                             :password "12345678"
                             }
                        }
 }

